* {
    margin: 0;
    padding: 0;
}

body{
    position: relative;
}
.navbarScroll {
    background-color: #1b1b1b;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.navbarScroll a{
    color: white;
    font-weight: bolder;
}

.navbar-brand {
    border: 2px solid white;
    border-radius: 30px;
    padding: 0.7vh 3vh;
}

/*style the Banner*/
.bgimage {
    height: 100vh;
    position: relative; /*position the childen and the div freely*/
    margin-right: 10vh;
    margin-left: 10vh;
}

/*style the hero-text*/
.hero-text {
    font-size: 2.5rem;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.hero-title {
    font-size: 5rem;
}

.imageAboutPage{
    /*Glass*/
    border-radius: 25px;
    backdrop-filter: blur(16px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
    min-height: 70px;
    mix-blend-mode: hard-light;
}

@media screen and (max-device-width: 768px){
    .nav-link{
        font-size: 3rem;
        padding-top: 3.5vh;
        padding-bottom: 3vh;
    }
    .navbar {
    }

    .bgimage {
        margin-right: 5vh;
        margin-left: 5vh;
    }

   .navbar-toggler img{
    }
}

