* {
    margin: 0;
    padding: 0;
}

.navbarScroll {
    background-color: #1b1b1b;
    text-align: center;
}

.navbarScroll a{
    color: white;
    font-weight: bolder;
}

.navbar-brand {
    border: 2px solid white;
    border-radius: 30px;
    padding: 0.7vh 3vh;
}

/*style the Banner*/
.bgimage {
    height: 100vh;
    background: url("pc.png") no-repeat;
    background-size: cover;
    position: relative; /*position the childen and the div freely*/
}

/*style the hero-text*/
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}