* {
    margin: 0;
    padding: 0;
}

body{
    background: url("cat.gif") ;
    position: relative;
}
.navbarScroll {
    background-color: #1b1b1b;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

.navbarScroll a{
    color: white;
    font-weight: bolder;
}

.navbar-brand {
    border: 2px solid white;
    border-radius: 30px;
    padding: 0.7vh 3vh;
}

/*style the Banner*/
.bgimage {
    height: 100vh;
    background: url("cat.gif") ;
    position: relative; /*position the childen and the div freely*/
    margin: 0;
}

/*style the hero-text*/
.hero-text {
    font-size: 1.1rem;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}

.hero-title {
    font-size: 3rem;
}

.imageAboutPage{
    width: 100%;
    /*Glass*/
    border-radius: 25px;
    backdrop-filter: blur(16.4px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25));
    width: 100%;
    min-height: 70px;
    mix-blend-mode: hard-light;
}