* {
    margin: 0;
    padding: 0;
    color: white;
}

.navbarScroll {
    background-color: #1b1b1b;
    border-radius: 0px 0px 15px 15px;
}

.navbarScroll a {
    color: white;
}

.navbar-nav {
    margin-right: 1vh;
}

body {
    background-color: #EADEDE;
}

.navbar-brand {
    border: 2px solid white;
    border-radius: 25px;
    padding: 0.6vh 2vh;
    margin-left: 1vh;
}

